* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 12px;
    background: grey;
}

hr {
    color: black;
    width: 100%;
    border: 1px solid black;
}

img {
    width: 100%;
}

span {
    font-weight: 700;
}

em {
    font-style: italic;
}

.landing {
    background-image: url(../assets/images/landing.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .headline {
    padding: 0 20px 40px 20px;
}

.headline__title {
    font-weight: 700;
    font-size: 32px;
    color: white;
    line-height: 35px;
    padding-bottom: 20px;
}

.headline__article {
    font-weight: 300;
    font-size: 18px;
    color: white;
    line-height: 24px;
    padding-bottom: 40px;
}

.btn {
    border: 1px solid white;
    padding: 15px 20px;
    display: inline-block;
    transition: ease-in-out 1s;
}

.btn:hover {
    background-color: white;
    color: black;
}

.header__menu_container {
    display: none;
}

.about {
    background-color: #e9e9e9;
    height: 150vh;
    display: flex;
}

.about__container {
    padding: 0 20px 40px 20px;
}

.about__container h1 {
    font-weight: 500;
    font-size:32px;
    color: black;
    line-height: 24px;
    padding: 20px 0;
}

.about__container p {
    font-weight: 300;
    font-size: 16px;
    color: black;
    line-height: 24px;
    padding: 20px 0;
}

.about__container .btn {
    border: 1px solid black;
    padding: 15px 20px;
    color: black;
    display: inline-block;
}